---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%2522hoard%2520of%2522&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="d11782137ceb9e6e924643af0fdfe4e8",
        oauth_signature="Dmw7sm4sXaM8Em4syMCyQTJSQZA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1445615622", oauth_token="<TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 23 Oct 2015 15:53:42 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 58930342765d4d2352b60f3a7977b243
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '166'
      X-Rate-Limit-Reset:
      - '1445616235'
      X-Response-Time:
      - '332'
      X-Transaction:
      - be447e926935c729
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Fri
        Oct 23 15:41:32 +0000 2015","id":657582635158339585,"id_str":"657582635158339585","text":"Well,
        looks like it''s time to head towards the endless hoard of zombies with empty
        wallets #college","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2863645680,"id_str":"2863645680","name":"Hello
        Dreamer","screen_name":"NeonFire7","location":"California, USA","description":"Writer,
        artist, I \u2764\ufe0f romance \/\/ He\/him \/\/ My writing blog is https:\/\/t.co\/M7qAgJhBDl","url":"https:\/\/t.co\/QpT8jkqFfB","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/QpT8jkqFfB","expanded_url":"http:\/\/neonfire7.tumblr.com","display_url":"neonfire7.tumblr.com","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/M7qAgJhBDl","expanded_url":"http:\/\/neonpens.tumblr.com","display_url":"neonpens.tumblr.com","indices":[61,84]}]}},"protected":false,"followers_count":26,"friends_count":70,"listed_count":0,"created_at":"Sat
        Oct 18 23:50:50 +0000 2014","favourites_count":262,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":18,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/656502281551024128\/L04iT7wB_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/656502281551024128\/L04iT7wB_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2863645680\/1445357317","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"college","indices":[91,99]}],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Fri
        Oct 23 15:31:28 +0000 2015","id":657580104915161088,"id_str":"657580104915161088","text":"@ashkii_kun
        get a vita &gt;:3 (bad influence). Otomate (the studio for all these beautiful
        games) have a hoard of artists under their wings :D","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":[...]
